

     ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

   .nav {
        float: left;
    }

    li a {
        font-size: 250%;
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111111;
    }

    body {
        font-family: 'Roboto';
        font-size: 22px;
    }


    #about {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 300px;
        margin-right: 300px;
    }

    #navbar {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 300px;
        margin-right: 300px;
    }

    #work {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
        margin-right: 50px;
        padding-top: auto;
        scroll-padding-bottom: auto;


    }

    #resume {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
        margin-right: 50px;


    }

    #img {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 250px;
        margin-right: 250px;
        border: 2px solid red;
    }
    
    #gmail{
      
        height: 5%;
        width: 5%;
        border: 1px solid #4CAF50;  

    }
    
    h6{
        font-family: "Times New Roman", Times, serif;
        margin: 0;
    }

    
    .footer{
        display: inline-block;
    }
    